- content_for :header_tags do
  - unless request.path == '/'
    %meta{ name: 'robots', content: 'noindex, noai, noimageai' }/
  - else
    %meta{ name: 'robots', content: 'noai, noimageai' }/
  %meta{ name: 'CCBot', content: 'nofollow' }

  = render partial: 'shared/og'

= render 'shared/web_app'
